#linkek {
    display: flex;
    justify-content:space-around;
    background-color: #333;
    padding: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    
}

#linkek a {
    color: white;
    text-decoration: none;
    margin: 10 15px;
    padding: 5px 10px;
    
}

#linkek a:hover {
    background-color: #555;
    border-radius: 5px;
    justify-content:space-around;
    margin-left: 10px;
    margin-right: 10px;
}
.kartya{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.kartya img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
#linkek {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
}

#linkek a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
}

#linkek a:hover {
    background-color: #555;
    border-radius: 5px;
}


.kartya1{
    display: grid;
    /*grid-template-columns: 25% 25% 25% 25%;*/
    /*grid-template-columns: auto auto auto auto;*/
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    
}

.kartya{
    border: 1px solid #9c9797;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.kartya img {
    width: 100%;
}


footer a:hover {
    text-decoration: underline;

}
#linkek2{
    color: aqua;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
    
}
#linkek2 a{
    color: white;
}