body{
    background-color: beige;
}
div{
    background-color: burlywood;
    border: 1px solid black;
    height: 60px;
    width: 100px;
    display: inline-block;
    margin: 3vw;
}
#forgatas1{
    border-radius: 10px 0px 0px 0px;
    transform: rotate(-60deg);
}
#forgatas2{
    border-radius: 10px 0px 0px;
    transform: rotate(0.1turn);
    transition: transform 3s;
}
#forgatas3:hover{
    border-radius:10px 0px 0px;
    transform: rotateY(30deg);
    transition: transform 3s;
}
/*Nagyitas*/
#nagyitas1:hover{
    border-radius:20px;
    transform: scale(1.5);
    transition: border-radius 10s,transform 8s;
    box-shadow: black solid 5px 5px 5px;
}
#nagyitas2{
    transform: scale(.5);
}
#nagyitas3{
    transform: scaleY(10%);
}
/*Eltolas*/
#eltolas1{
    transform:translate(30px,30px);
}
#eltolas2{
    transform: translate(20px,3vw);
}
#eltolas3{
    transform:translateX(50%);
}
/*Ferdités*/
#ferdites1{
    transform: skew(30deg);
}
#ferdites2{
    transform:skew(10deg,30deg);
}
#kph1{
    transform-origin: top;
    transform:scale(0.5)
}
#kph2{
    transform-origin: top right;
    transform:scale(1.5)
}
#vertikalis{
position: relative;
}
#vertikalis a{
    background-color: black;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50% );
}