nav a {
    color: white;
    text-decoration: none;
    margin: 10 15px;
    padding: 5px 10px;
    
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
}

nav a{
    text-align: center;
}
nav a:hover{
    background-color: #d8d4d4;
    border-radius: 5px;
    text-shadow: 5px 5px 5px black;
    letter-spacing: 1px;
    text-decoration: underline rgb(0, 0, 0);
    transition: text-decoration 5s; 
}
#linkek a{
    width:33%;
}

div a{
    border: 1px solid #424040;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: grid;
    margin-left: 10px;
    gap: 20px;
    padding: 20px;
}
#div{
    margin-left: 800px;
    margin-right: 800px;
    width:100px;
    
    
}
div:hover{
    border-radius:10px 0px 0px;
    transition: transform 3s;
    transform: rotate(360deg);
}
