nav a {
    color: rgb(85, 79, 79);
    text-decoration: none;
    margin: 10 15px;
    padding: 5px 10px;
    
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #d5cfcf;
    padding: 10px 0;
}

nav a{
    text-align: center;
}
nav a{
    position: relative;
}
nav a::before {
content:"";
height: 2px;
width: 22%;
font-size: 0.5em;
background-color: #302b2b;
position: absolute;
bottom: 0.7em;
transform: scaleX(0);
transform-origin: right;
transition: transform 3s;
}   
nav a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}
nav a:hover{
    background-color: #d8d4d4;
    border-radius: 5px;
    text-shadow: 5px 5px 5px black;
    transition: 0.8s; 
    width:calc(100% - 2em)
}
nav a::after{
    content: "Szöveget tesz mögé";
    font-size: 0.5em;
}

#linkek a{
    width:33%;
}

div a{
    border: 1px solid #424040;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: grid;
    margin-left: 10px;
    gap: 20px;
    padding: 20px;
}
#div{
    margin-left: 800px;
    margin-right: 800px;
    width:100px;
    
    
}
div:hover{
    border-radius:10px 0px 0px;
    transition: transform 3s;
    transform: rotate(360deg);
}
/*
ul li:nth-child(odd){
    background-color: yellow;
}
ul li:nth-child(even){
    background-color: green;
}*/
