body{
	background-color:white;
	margin: 0px;
}

.header{
	background-image: url("kepek/fejlec.jpg");
	height:450px;
	/* background-repeat:no-repeat; */ /*(no-)repeat - (nem) ismétli a képet*/
	background-size: contain; /*szélességét*/
	/* background-size: cover; */ /*maggasságát*/
}
.header p{
	margin: 0px;
	text-align:center;
	font-size: 40px;
	padding-top:100px;
	color:#ff23ff;
	/*text-shadow: 3px 3px 5px black;*/
	letter-spacing: 5px;
	padding-top: 100px;
	/*color: rgb(255,0,0);*/
	/*1 bite = 8 bit 00000000*/
	/*color:rgba(255,0,0,0.5)*/
	/*color:#999999*/
	/*color:#3f66ab;*/
}


.masodik_blokk{
	height:450px;
}


.feher-hatteres{
	background-color:lightgray;
	width: 50%;
	float: left;
	height: 100%;
	text-align: center;
	opacity:0.5;/*[0.1]->[0,.100%]*/
	/*
		15%->0.15
		75%->0.783
	*/
	
	
}
.szoveg-kep{
	background-color:white;
	width: 50%;
	float: right;
	height: 100%;
	
}

.feher-hatteres img{
	/*width: 30%;	*/
	height: 70%;
	position: relative;
	top: 15%; 
}

.szoveg-kep-belso{
	/* .szoveg-kep-belso */
	width: 80%;
	height: 80%;
	margin: auto;
	position:relative;
	top: 10%;
	padding: 10px;
	text-align: center;
	overflow:scroll;
}

.szoveg-kep-belso img{
	height: 50%;
}

.szoveg-kep-belso p{
	text-align: left;
	line-height:30px;
}

h2{
	margin-top:0;
}








.header{
	background-image: url("kepek/goofy3.jpg");
	height:450px;
	/* background-repeat:no-repeat; */ /*(no-)repeat - (nem) ismétli a képet*/
	background-size: 100% 100%; /*szélességét*/
	background-repeat:no-repeat;
	
	
	
	/* background-size: cover; */ /*maggasságát*/
}
.header p{
	margin: 0px;
	text-align:center;
	font-size: 40px;
	
	text-shadow: 3px 3px 5px black;
	letter-spacing: 5px;
	padding-top: 100px;
}


.harmadik_blokk{
	height:450px;
}


.fekete-hatteres{
	background-color:lightgray;
	width: 50%;
	float: right;
	height: 100%;
	text-align: center;
	
}
.szoveg-kep1{
	background-color:white;
	width: 50%;
	float: left;
	height: 100%;
	
}

.fekete-hatteres img{
	/*width: 30%;	*/
	height: 70%;
	position: relative;
	top: 15%; 
	
}

.szoveg-kep-belso{
	/* .szoveg-kep-belso */
	width: 80%;
	height: 80%;
	margin: auto;
	position:relative;
	top: 10%;
	padding: 10px;
	text-align: center;
}

.szoveg-kep-belso img{
	height: 50%;
}

.szoveg-kep-belso p{
	text-align: left;
}

h2{
	margin-top:0;
}
footer
{
	color:black;
	font-family:'Courier New', Courier, monospace
	font-size:7px;
	margin-right:10px;
	
}